KAFKA_BOOTSTRAP_SERVERS=localhost:29092
SCHEMA_REGISTRY_URL=http://localhost:8081
KAFKA_TOPIC_TRADES=btcusdt-trades
KAFKA_CONSUMER_GROUP=sentry-ohlcv-consumer
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5432
TIMESCALEDB_USER=sentry
TIMESCALEDB_PASSWORD=sentry
TIMESCALEDB_DB=sentry
